@import url('https://fonts.googleapis.com/css?family=Lato:400,700');

body{
	font-size: 15px;
	background-color: #F3F3F3;
	font-family: 'Lato', sans-serif;
}
a:hover{
	text-decoration: none;
}
h2{
	color: #3C3C3C;
	font-weight: 700;
	font-size: 20px;
	text-transform: uppercase;
}













/*header*/
.site_header{
	background-color: #222222;
}
.site_logo{

}
.site_logo img{
	display: inline-block;
	padding: 38px 0 60px 0;
}
.header_left_menu{
	float: right;
	padding-bottom: 10px;
}
.header_left_menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.header_left_menu ul li{
	float: left;
}
.header_left_menu ul li a{
	display: block;
	font-size: 12px;
	padding: 19px 10px;
	color: #FFFFFF;
	text-decoration: none;
	text-transform: capitalize;
	text-align: center;
}
.header_left_menu ul li a span{
	padding-left: 16px;
}


.search{
	float: left;
	width: 75%;
	display: inline-block;
	
}
.search form{
	float: right;
	width: 80%;
}

.search i{
	color: #FFFFFF;
	background-color: #F10E34;
	height: 38px;
	width: 50px;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
}
.total{
	float: right;
	color: #FFFFFF;
	width: 25%;
	display: inline-block;
	padding-left: 55px;
}
.total i{
	height: 40px;
	width: 40px;
	color: #FFFFFF;
	background-color: #F10E34;
	text-align: center;
	line-height: 40px;
	font-size: 20px;
	border-radius: 100%;
	float: left;
}
.total span{
	float: left;
	padding: 0;
	text-align: center;
	font-size: 14px;
	font-weight: 700;
}
.clr{
	clear: both;
}


/*navigation*/
.navigation{
   background-color: #F10E34;
   padding: 25px 0;
}
.cat{
  float: left;
  width: 20%;

}
.cat ul{
	margin: 0;
	padding: 0 20px ;
	list-style: none;
	display: inline-block;
}
.cat i{
	font-size: 20px;
	color: #FFF;
	margin-left: 10px;
}
.cat ul li a{
	font-size: 20px;
	display: block;
	text-align: center;
	font-weight: 300;
	color: #FFFF;
	text-decoration: none;
}
.main_menu{
  float: right;
  width: 80%;
  padding-left: 30px;
}
.main_menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
	float: right;
}
.main_menu ul li{
	float: left;
}
.main_menu ul li a{
	display: block;
	font-size: 20px;
	text-align: center;
	font-weight: 300;
    text-decoration: none;
	color: #FFF;
	padding: 0 20px;
}
/*side bar menu*/
.side_bar_menu{
  background-color: #FFFFFF;
}
.side_bar_menu ul{
	padding: 0;
	margin: 0;
	list-style: none;
}
.side_bar_menu ul li{
	border-bottom: 1px solid #EAEAEA;
}
.side_bar_menu ul li i{
	font-size: 15px;
	color: #444444;
	margin-left: 10px;
}
.side_bar_menu ul li a{
	  display: inline-block;
	  padding: 12.5px 20px;
	  text-decoration: none;
	  text-align: center;
      color: #444;
      font-size: 15px;
}
/*main-content*/
.main_content{
	width: 100%;
}
.item{
	position: relative;
	width: 100%;
}

.banner_inner{
	position: absolute;
	top: 20%;
	left: 10%;
	text-align: center;
}
.banner_inner h2{
     color: #303A7A;
     font-size: 38px; 
     font-weight: 600;
     line-height: 10px;
}
.banner_inner h1{
    font-size: 65px;
    color: #FFF;
    font-weight: 600;
    line-height: 65px;
}
.banner_inner h3{
    font-size: 21px;
    color: #FFF;
    font-weight: 600;
    line-height: 10px;
}
.banner_inner a{
	font-size: 18px;
	font-weight: 600;
	color: #2C210E;
	margin-top: 50px;
}
.shop_now{
	background-color: transparent;
	border: 1px solid #2C210E;
	border-radius: 0;
	width: 150px;
}
.shop_now:hover{
  background-color: transparent;
}
.banner_cat{
	color: #FFF;
	width: 100%;
}
.banner_bottom_box{
	float: left;
	padding: 15px 41px;
	text-align: center;
	background-color: #F10E34;
}
.banner_bottom_box h4{
	font-weight: bold;
	font-size: 15px;
	text-transform: capitalize;
}
.banner_bottom_box h5{
	font-weight: 300;
	font-size: 15px;
}

/*new pro*/
.new_pro{
	background-color: #FFF;
	margin-top: 40px;
}
.new_pro_menu{
	padding-top: 20px;
    padding-left: 40px;
    padding-bottom: 54px;

}
.new_pro_menu h2{
	
}
.new_pro_menu h2{
	float: left;
	color: #3C3C3C;
	font-weight: 700;
	font-size: 25px;
	padding-top: 5px;
}
.new_pro_menu ul{
	float: right;
	margin: 0;
	padding: 0;
	list-style: none;
	padding-right: 100px;
}
.new_pro_menu ul li{
	float: left;
}
.new_pro_menu ul li a{
	display: inline-block;
	padding: 10px 10px;
	font-size: 15px;
	font-weight: normal;
	color: #464646;
}
.pro_des{
	padding: 20px;
    width: 100%;
    border-top: 1px solid #EAEAEA;
}
.single_pro{
	width: 25%;
	float: left;
	padding-right: 20px;
}
.single_pro img{
	width: 100%;
}
.single_pro h5{
   font-size: 15px;
   font-weight: 300;
   text-align: center;
    padding: 15px 0 0 0;
}
.single_pro h6{
	font-size: 15px;
   font-weight: 300;
   text-align: center;
    padding: 5pxz 0;
}
.single_pro span{
	padding-left: 10px;
	font-weight: 700;
}
.single_pro ul{
	list-style: none;
}


/*hot deal*/
.hot_deal{
	margin-top: 40px;
	background-color: #FFF;
	padding-bottom: 25px;
	
}
.hot_deal img{
	width: 100%;
	padding: 13px 10px;
}
.hot_deal h2{
	padding: 23px 10px;
	border-bottom: 1px solid #EAEAEA;
}
.deal_item{
  
}
.feedback_icon{
	text-align: center;
	padding-bottom: 19px;
}
.feedback_icon h5,
.feedback_icon h6{
	font-size: 15px;
}
.feedback_icon ul{
   list-style: none;
   margin: 0;
   padding: 0;

}
.feedback_icon ul li{
    display: inline-block;
}
.feedback_icon ul li i{
	display: block;
	color: orange;
	font-size: 15px;
}
/*advertise*/
.advertise{
   
	margin-top: 40px;
	display: flex;
	width: 100%;

}
.left_advertise{
	width: 100%;
	height: 220px;
	display: flex;
	float: left;
	background-color: #FFF;
}
.right_advertise{
	width: 100%;
	height: 220px;
	display: flex;
	float: right;
	margin-left: 40px;
	background-color: #FFF;

}


.ad_img{
	background-image: url(../images/p10.jpg);
	height: 100%;
	width: 50%;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	-webkit-clip-path: polygon(0 0, 100% 0, 79% 101%, 0% 100%);
        clip-path: polygon(0 0, 100% 0, 79% 101%, 0% 100%);
	
	}
.ad_content{
	width: 50%;
	background-color: #FFF;
	padding: 20px 30px 0px 0;
	box-sizing: border-box;
	text-align: right; 
}
.ad_content h1{
	font-size: 40px;
	color: #DEDBDB;
}
.ad_content h3{
	font-size: 25px;
	color: #353535;
}
.ad_content a{
   text-decoration: underline;
}
.ad_content p{
   font-size: 15px;
   padding-top: 10px;
   color:#C1BDBC;
}
/*show pro*/
.show_pro{
	margin-top: 40px;
	position: relative;
}
.show_pro img{
	width: 100%;
}
.show_pro_con{
	position: absolute;
	top: 50%;
	right: 5%;
	transform: translateY(-50%);
}
.show_pro_con h4{
	font-size: 25px;
}
.btn-danger{
	border-radius: 20px;
}

/*Featured products*/
.f_img{
	width: 75px !important;
    float: left;
    height: 68px;
    margin-top: 19px;
    margin-left: -8px;
}
.f_feed{
	margin-left: 14px;
}
.f_feed ul{
   text-align: left;
   padding-left: 70px;
}
.f_feed h5{
  text-align: left;
   padding-left: 70px;
}
.f_feed h6{
  text-align: left;
   padding-left: 70px;
}
.div{
	margin-top: 130px;
}
/*news letter*/
.newletter p{
	font-size: 11px;
	color: #C1C1C1;
	padding-left: 10px;
}
.news_input{
	background-color: #F3F3F3;
	width: 90%;
	margin: 0 10px;
}
.newletter a{
	margin-left: 10px;
}

/*partner-area*/
.partner_area{
	background-color: #F10E34;
	height: auto;
	margin-top: 40px;
	z-index: -999;
}
.partner_item img{
	padding: 20px 25px;
	position: relative;
	z-index: 999;
	float: left;
	margin-top: 15px;
	width: 180px;
	height: 140px;
}
/*footer*/
.footer{
  
}
.top_footer{
	background-color: #222222;
	height: auto;
	padding: 65px 0;
}
.about_com{
	margin-top: -26px;
}

.about_com p{
	color: #b6b6b6;
	padding-top: 5px;
}
.about_com ul{
	color: #b6b6b6;
	margin: 0;
	padding: 0;
	list-style: none;
}
.about_com ul li{
	font-size: 14px;
	padding: 5px 0;
}
.about_com ul li i{
	color: #B0162D;
	font-size: 14px;
	padding-right: 6px;
	
}
.social h3, 
.info h3{
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
}
.info ul{

	margin: 0;
	padding: 0;
	list-style: none;
}
.info ul li a{
	display: block;
	color: #b6b6b6;
	font-size: 14px;
	padding: 5px 0;
}
.social ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.social ul li a{
	display: block;
	color: #b6b6b6;
	padding: 5px 0;
	font-size: 14px;
}
.social ul li a i{
	color: #B0162D;
	font-size: 14px;
	padding-right: 6px;
}
.open h3{
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
}
.open ul{
   margin: 0;
	padding: 0;
	list-style: none;
}
.open ul li{
	color: #b6b6b6;
	padding: 5px 0;
	font-size: 14px;
}
.open ul li i{
	color: #B0162D;
	font-size: 14px;
	padding-right: 6px;
}
.open ul li span{
	text-align: right;
	padding-right: 6px;
}
.payment{
	padding-top: 50px;
}
.payment h3{
	color: #fff;
	text-transform: uppercase;
	font-size: 18px;
}
.payment ul{
	 margin: 0;
	padding: 0;
	list-style: none;
}
.payment ul li img{
	padding: 5px 5px;
}
.bottom_footer{
	background-color: #1F1E1E;
	height: auto;
	padding: 20px 0;
	text-align: center;

}
.bottom_footer ul{
	margin: 0;
	padding: 0;
	list-style: none;
	padding-left: 50%;
	transform: translateX(-19%);
	padding-bottom: 10px;
}
.bottom_footer ul li{
    float: left;
}
.bottom_footer ul li a{
	display: block;
	color: #b6b6b6;
	padding: 0 10px;
    font-size: 14px;

}
.bottom_footer p{
	color: #b6b6b6;
	 font-size: 14px;
	 text-align: center;
	 padding-top: 15px;
}
.owl_one{
	overflow: none;
}